h1 {
    background-color: cornflowerblue;
    width: 80%;
    margin: 0 auto;
    
}
.rosado {
    background-color: cornflowerblue;
    width: 80%;
    margin: 0 auto;
    
}
.amarillo {
    background-color: cornflowerblue;
    width: 80%;
    margin: 0 auto;
    
}
.celeste {
    background-color: cornflowerblue;
    width: 80%;
    margin: 0 auto;
    
}