form {
    width: 50%;
<<<<<<< HEAD
    border: 2px solid yellow;
=======
>>>>>>> 05c6acf5a90c1f70c7741a0d8d6cbc2284ec1a8d
    margin: 0 auto;
    text-align: center;
}

input {
margin-top: 1%;
margin-bottom: 1%;
margin-left: 2%;
}
label, b {
    margin-left: 2%;
  
}
#formu2 {
border: 2px blue dashed;
width: 40%;
margin: 0 auto;
}
  #enviar {
    text-align: center;
  }
<<<<<<< HEAD

=======
fieldset {
    border: 1px yellow dashed;
}
.bordi {
    border: solid 1px;
}
>>>>>>> 05c6acf5a90c1f70c7741a0d8d6cbc2284ec1a8d
