form {
    width: 50%;
    border: 2px solid yellow;
    margin: 0 auto;
    text-align: center;
}

input {
margin-top: 2%;
margin-bottom: 2%;
margin-left: 2%;
}
label, b {
    margin-left: 2%;
  
}
#formu2 {
border: 2px blue dashed;
width: 40%;
margin: 0 auto;
}
  #enviar {
    text-align: center;
  }


  
