#cuadro1 {
    border: solid 3px brown;
    color: brown;
}
h1, ul {
    text-align: center;
    margin-bottom: 0%;
}
.letra {
    color: black;
}
table {
   border: 3px solid brown;
   border-collapse: collapse
}
tr,td {
border: 1px solid brown;
border-collapse: collapse;
}
.titulotabla1 {
    color: brown;
    text-align: left;
    margin-bottom: 1%;
}
