h2 {
    background-color: deepskyblue;
    color: cornflowerblue;
}
.perrito {
    width: 30%;
    height: 40%;
    float: right;
}
#bloque1 {
    border: solid 1px;
}
#bloque2 {
    border: dotted yellow;
   margin-left: 4%;
   margin-right: 4%;
   margin-top: 4%;
   margin-bottom: 4%;
}
.titulo1 {
    text-align: center;
}
#cuadrito {
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    height: 30%;
}
#cuadrito1 {
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    height: 50%;
}
label {
    text-align: right;
}